body{
    margin: 0;
}
header{
    background-color: #ddd;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 4em;
    width: 4em;
}
header nav{
    display: flex;
}
#menu{
    list-style-type: none;
    display: flex;
}
#menu li{
    padding: 1em;
}
button{
    background-color: darkblue;
    color: white;
    border: 20x solid darkblue;
    padding: 1em;
    width: 10vw;
    border-radius: 5px;
}